apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: go-x
  labels:
    app: redis
spec:
  type: NodePort
  ports:
    - port: 6379
      nodePort: 32000
  selector:
    app: redis

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: go-x
  labels:
    app: redis
spec:
  selector:
    matchLabels:
      app: redis
  replicas: 1
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: redis
        imagePullPolicy: Always
        ports:
        - containerPort: 6379



